.. _exhale_class_classnvcv_1_1Requirements_1_1Memory:

Class Requirements::Memory
==========================

- Defined in :ref:`file_nvcv_types_include_nvcv_alloc_Requirements.hpp`


Nested Relationships
--------------------

This class is a nested type of :ref:`exhale_class_classnvcv_1_1Requirements`.


Inheritance Relationships
-------------------------

Base Type
*********

- ``public nvcv::Requirements::ConstMemory`` (:ref:`exhale_class_classnvcv_1_1Requirements_1_1ConstMemory`)


Class Documentation
-------------------


.. doxygenclass:: nvcv::Requirements::Memory
   :project: cvcuda
   :members:
   :protected-members:
   :undoc-members: