
.. _file_nvcv_types_include_nvcv_alloc_Requirements.hpp:

File Requirements.hpp
=====================


Defines the public C++ interface to NVCV resource requirements. 


Definition (``nvcv_types/include/nvcv/alloc/Requirements.hpp``)
---------------------------------------------------------------


.. toctree::
   :maxdepth: 1

   program_listing_file_nvcv_types_include_nvcv_alloc_Requirements.hpp.rst



Detailed Description
--------------------

Several objects in NVCV require resource allocation. Resource requirements is a way for them to inform how many resources they need. This information can be used by allocators to pre-allocate the resources that will be used. 




Includes
--------


- ``../detail/CheckError.hpp``

- ``Requirements.h`` (:ref:`file_nvcv_types_include_nvcv_alloc_Requirements.h`)



Included By
-----------


- :ref:`file_cvcuda_include_cvcuda_OpAdaptiveThreshold.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpAdvCvtColor.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpAverageBlur.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpBilateralFilter.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpBndBox.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpBoxBlur.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpCenterCrop.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpChannelReorder.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpComposite.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpConv2D.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpConvertTo.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpCopyMakeBorder.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpCropFlipNormalizeReformat.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpCustomCrop.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpCvtColor.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpErase.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpFindHomography.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpFlip.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpGammaContrast.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpGaussian.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpGaussianNoise.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpHistogram.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpHistogramEq.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpInpaint.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpJointBilateralFilter.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpLabel.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpLaplacian.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpMedianBlur.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpMinAreaRect.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpMinMaxLoc.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpMorphology.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpNonMaximumSuppression.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpNormalize.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpOSD.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpPadAndStack.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpPairwiseMatcher.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpPillowResize.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpRandomResizedCrop.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpReformat.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpRemap.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpResize.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpRotate.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpSIFT.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpStack.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpThreshold.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpWarpAffine.hpp`

- :ref:`file_cvcuda_include_cvcuda_OpWarpPerspective.hpp`




Namespaces
----------


- :ref:`namespace_nvcv`


Classes
-------


- :ref:`exhale_class_classnvcv_1_1Requirements`

- :ref:`exhale_class_classnvcv_1_1Requirements_1_1ConstMemory`

- :ref:`exhale_class_classnvcv_1_1Requirements_1_1Memory`

