.. _exhale_function_Requirements_8h_1a856efeefae3c55bbc6d32c7c1511c06b:

Function nvcvRequirementsAdd
============================

- Defined in :ref:`file_nvcv_types_include_nvcv_alloc_Requirements.h`


Function Documentation
----------------------


.. doxygenfunction:: nvcvRequirementsAdd(NVCVRequirements *, const NVCVRequirements *)
   :project: cvcuda