.. _exhale_function_Requirements_8h_1adbcf582ce4d9a52668dd8829c0bca5df:

Function nvcvRequirementsInit
=============================

- Defined in :ref:`file_nvcv_types_include_nvcv_alloc_Requirements.h`


Function Documentation
----------------------


.. doxygenfunction:: nvcvRequirementsInit(NVCVRequirements *)
   :project: cvcuda