.. _exhale_struct_structNVCVTensorRequirementsRec:

Struct NVCVTensorRequirementsRec
================================

- Defined in :ref:`file_nvcv_types_include_nvcv_Tensor.h`


Struct Documentation
--------------------


.. doxygenstruct:: NVCVTensorRequirementsRec
   :project: cvcuda
   :members:
   :protected-members:
   :undoc-members: