.. _exhale_struct_structNVCVRequirementsRec:

Struct NVCVRequirementsRec
==========================

- Defined in :ref:`file_nvcv_types_include_nvcv_alloc_Requirements.h`


Struct Documentation
--------------------


.. doxygenstruct:: NVCVRequirementsRec
   :project: cvcuda
   :members:
   :protected-members:
   :undoc-members: