.. _exhale_struct_structNVCVWorkspaceRequirementsRec:

Struct NVCVWorkspaceRequirementsRec
===================================

- Defined in :ref:`file_cvcuda_include_cvcuda_Workspace.h`


Struct Documentation
--------------------


.. doxygenstruct:: NVCVWorkspaceRequirementsRec
   :project: cvcuda
   :members:
   :protected-members:
   :undoc-members: