.. _exhale_struct_structNVCVMemRequirementsRec:

Struct NVCVMemRequirementsRec
=============================

- Defined in :ref:`file_nvcv_types_include_nvcv_alloc_Requirements.h`


Struct Documentation
--------------------


.. doxygenstruct:: NVCVMemRequirementsRec
   :project: cvcuda
   :members:
   :protected-members:
   :undoc-members: