.. _exhale_struct_structNVCVImageRequirementsRec:

Struct NVCVImageRequirementsRec
===============================

- Defined in :ref:`file_nvcv_types_include_nvcv_Image.h`


Struct Documentation
--------------------


.. doxygenstruct:: NVCVImageRequirementsRec
   :project: cvcuda
   :members:
   :protected-members:
   :undoc-members: