.. _exhale_typedef_Requirements_8h_1a1c2607343500f6949220947a48c2b140:

Typedef NVCVMemRequirements
===========================

- Defined in :ref:`file_nvcv_types_include_nvcv_alloc_Requirements.h`


Typedef Documentation
---------------------


.. doxygentypedef:: NVCVMemRequirements
   :project: cvcuda